@import url(//fonts.googleapis.com/css?family=Luckiest+Guy);

html, body {
  overflow: hidden;
}

body {
  background-color: orange;
  background-image: url('https://static.wikia.nocookie.net/fortnite/images/2/2a/Legendary_-_Rarity_-_Fortnite.png');
  background-size: cover;
  /* background-size: 800px; */
  /* width: 100%; */
  /* position: relative; */
}

div {
  /*user-select: none;*/
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;

}

.map {
  left: 0px;
  position: relative;
  width: 961px;
  transition: all 5s ease;
  /*animation: slideshow 120s linear infinite; */
}

.weapon-image{
  max-width:100%;
  max-height:100%;
}

.visual-container {
  background-color: #031529;
  position: absolute;
  left: 5px;
  top: 30px;
  height: 145px;
  width: 400px;
  border-radius: 5px;
  z-index: 5;
  overflow: hidden;

}

.puzzle-container {
  background-image: url('https://static.wikia.nocookie.net/fortnite/images/4/47/Epic_-_Rarity_-_Fortnite.png');
  background-size: cover;

  position: absolute;
  left: 5px;
  top: 295px;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  z-index: 10;
  overflow: hidden;

}

.selectTile {
  filter: drop-shadow(5px 5px 5px #222);

  position: absolute;
  transition: all 0.5s ease;
  border-radius: 25px;
  cursor: pointer;
  z-index: -50;
  /*border: 1px solid;*/
}

.selection-outline {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 50;
  border-radius: 50px;
  border: 5px solid;
  pointer-events: none;
}

.resource-bar-shield {
  width: 380px;
  height: 16px;
  top: 154px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skewX(-20deg);
}

.resource-bar-shield-fill {
  background-color: rgba(3, 167, 220, 0.9);
  transition: all 0.5s ease;

}

.resource-bar-health {
  width: 380px;
  height: 28px;
  top: 200px;
  left: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skewX(-20deg);

}

.resource-bar-health-fill {
  background-color: rgba(100, 215, 42, 0.9);
  transition: all 0.5s ease;

}

.resource-item-ammo {
  background-color: rgba(169, 185, 72, 0.9);
  position: relative;
  display: float;
  width: 138px;
  height: 54px;
  top: 192px;
  left: 15px;
  font-size: 22px;
  text-align: center;
  color: white;
  vertical-align: center;
  text-shadow: 2px 2px 6px #000000;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Luckiest Guy', sans-serif;
  overflow: hidden;
  border-radius: 2px;
}

.enemy-avatar {
  position: absolute;
  height: 150px;
  top: 10px;
  z-index: 10;
  left: 240px;
  /* filter: opacity(1) drop-shadow(0 0 0 blue); */
  
  /* animation: enemySpawn 1s linear 0s 1; */

}