@import url(//fonts.googleapis.com/css?family=Luckiest+Guy);

html, body {
  overflow: hidden;
  font-family: 'Luckiest Guy', sans-serif;
}

body {
  background-color: orange;
  background-image: url('https://static.wikia.nocookie.net/fortnite/images/2/2a/Legendary_-_Rarity_-_Fortnite.png');
  background-size: cover;
}

#container{
  margin: auto;
  height: 100vh;
  padding: 1vmax;
  padding-top: 0;
}

div {
  /*user-select: none;*/
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  pointer-events: none;
}

#storm-tracker-container{
  background-color: rgba(255, 255, 255, 0.397);
  height: 4vmax;
  position: relative;
  display: block;
  border-radius: 1vw;
  overflow: hidden;
}

.storm-tracker-icon{
  position: absolute;
  bottom: 0;
  height: 3.5vmax;
  z-index: 10;
  transition: left 5s ease;

}

.storm-tracker-screen{
  background-color: purple;
  background-image: url('/images/storm-background.gif');
  position: absolute;
  height: 5vmax;
  border-right: 2px solid #0000FE;
  left: 0;
  animation: animatedBackground 10s linear infinite reverse;
  transition: width 1s linear;
}

.map {
  position: absolute;
  transform-origin: center center;
  margin: auto;
  width: 500%;
  transition: left 5s ease;
}

.weapon-image{
  width:100%;
  height:100%;
}

.visual-container {
  background-color: #031529;
  position: relative;
  height: 15vmax;
  width: 100%;
  border-radius: 5px;
  z-index: 5;
  overflow: hidden;

}

#match-info-container{
  position: relative;
  width: auto;
  text-align: center;
  height: 2vmax;
}

.match-info-section{
  padding-left: .5vmax;
  height: 100%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 6px #000000;
  display: inline-block;
}

.storm-state-icon{
  background-image: url(/images/storm_holding_icon.webp);
  background-size: contain;
}

#player-life-container{
  position: relative;
  width: auto;
  height: 5vmax;
}

.resource-bar-shield {
  margin: 3px;

  position: relative;
  
  width: 95%;
  height: 30%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skewX(-20deg);
}

.resource-bar-shield-fill {
  background-color: rgba(3, 167, 220, 0.9);
  transition: all 0.5s ease;
}

.resource-bar-health {
  margin: 3px;

  width: 95%;
  left: 0.5%;
  position: relative;
  height: 70%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  transform: skewX(-20deg);
}

.resource-bar-health-fill {
  background-color: rgba(100, 215, 42, 0.9);
  transition: all 0.5s ease;
}

.items-container{
  position: relative;
  width: 100%;
  height: 10vmax;
}

.puzzle-container {
  background-image: url('https://static.wikia.nocookie.net/fortnite/images/4/47/Epic_-_Rarity_-_Fortnite.png');
  background-size: cover;

  position: relative;
  display: block;
  border-radius: 1vw;
  z-index: 10;
  overflow: hidden;
  
  text-align: center;

  min-height: 50vmax;
  max-height: 100vmin;

  min-width: 1vmax;
  max-width: 100vmax;

  margin: auto;

}


.select-tile {
  filter: drop-shadow(5px 5px 5px #222);
  position: absolute;
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: -50;
  max-width: 14%;
}

.resource-item-ammo {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 16px;
  text-align: center;
  color: white;
  vertical-align: bottom;
  text-shadow: 2px 2px 6px #000000;
  font-family: 'Luckiest Guy', sans-serif;
  overflow: hidden;
}

.enemy-avatar-dead{
  filter: opacity(0) drop-shadow(0 0 0 blue);
  transition: all 2s ease;
}

.enemy-avatar, .enemy-avatar-dead{
  position: absolute;
  z-index: 10;
  right: 10vw;
  top: 0%;
  height: 120%;
}

.floating-damage-indicator{
  font-family: 'Luckiest Guy', sans-serif;
  color: yellow;
  font-size: 40px;
  position: absolute;
  z-index: 100;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  transition: all 2s ease;
}

.weapon-container{
  background-image: url(  https://static.wikia.nocookie.net/fortnite/images/7/7f/Common_-_Rarity_Background_-_Fortnite.png);
  background-color: rgba(169, 185, 72, 0.9);
  background-size: cover;
  position: relative;
  display: float;
  width: 10vmax;
  height: 10vmax;
  font-size: 22px;
  text-align: center;
  color: white;
  vertical-align: center;
  text-shadow: 2px 2px 6px #000000;
  font-family: 'Luckiest Guy', sans-serif;
  overflow: hidden;
  margin: 5px;
}